@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"); 

:root{
    --iriscolor: #4D5AE5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #404BBF;
    --whitecolor: white;
    --slatecolor: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --lightslate: #8E8F99;
    --greencolor: #31D0AA;
    --dairycolor: #FCFCFC;
}

/* CSS reset */
p,
h1,
h2,
h3{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}
/* End of CSS reset */

/* General container */

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }

body {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

  /* CSS for Header */
.header{
    padding: 24px 0;
    border-bottom: 1px solid var(--cornflower)
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.webstudio-logo{
    font-family: 'Raleway';
    text-decoration: none; 
    font-size: 18px;
    font-weight: 800;
}

.web-logo{
    color: var(--iriscolor);
}

.studio-logo{
    color: var(--navyblue);
}

/* Navigation Section */

.navigation{
    display: flex;
    margin-left: 76px;
    gap: 40px;

}

.navigation .pages{
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
}

.lists{
    list-style-type: none;
}

.navigation .pages:hover,
.navigation .pages:focus,
.navigation .pages.current-option,
.contact-information .information:hover,
.contact-information .information:focus {
    color: var(--oceancolor);
}

.pages{
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages::after{
    content: "";
    border-radius: 2px;
    border: 2px solid transparent;
    height: 4px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current-option::after{
    content: "";
    border: 2px solid var(--oceancolor);
    border-radius: 2px;
    background-color: var(--oceancolor);
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4px;
  }

 .pages:hover::after,
 .pages:focus::after{
    border: 2px solid var(--oceancolor);
    background-color: var(--oceancolor);
    width: 100%;
  }


/* Contact information */

.contact-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.contact-information .information{
    color: var(--navcolor);
    text-decoration: none;
}

.information{ 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

/* Hero Section*/
.hero{
    padding: 188px 0;
    background-color: var(--navyblue, rgba(46, 47, 66, 0.4));
    background-image: url(../images/dark-bg.png), url(../images/hero-image.jpg),
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-title{
    margin-bottom: 48px;
    color: var(--whitecolor);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

.btn{
    display: block;

    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.64px;
    font-family: inherit; 
}

.btn.primary{
    padding: 16px 32px;

    background-color: var(--iriscolor);
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.btn.primary:hover,
.btn.primary:focus{
    background-color: var(--oceancolor);
}

/* Criteria list */

.criterias{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.criteria-svg{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 264px;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}

.criteria-logo{
    width: 64px;
    height: 64px;
}

.title-list{

    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
}

.description-list{
    color: var(--slatecolor);
}

/* What are we doing section */
.section-no-top-padding{
    padding-top: 0;
}

.section-title{
    margin-bottom: 72px;

    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.services{
    display: flex;
    gap: 24px;

}

.service{
    display: inline-flex;

    border: 1px solid var(--cornflower);
}

/* Our Team */
.team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams{
    display: flex;
    align-items: center;
    gap: 24px;

    border-radius: 0px 0px 4px 4px;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;

    border-radius: 0px 0px 4px 4px;
    background-color: var(--whitecolor);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-grey{
    background-color: var(--cloud);
}

.teamname{
    margin-top: 32px;
    margin-bottom: 8px;
    color: var(--navyblue);
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 500;
    text-align: center;
}

.position{
    color: var(--slatecolor);
    text-align: center;
    
}

.team-socials{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-link{
    width: 40px;
    height: 40px;
}

.team-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--iriscolor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-logo{
    fill: var(--cloud);
}

.team-link:hover,
.team-link:focus{
    background-color: var(--oceancolor);
}

/* Customers CSS */

.customer-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-logo{
    display: flex;
    gap: 24px;
}

.customer-logo{
    width: 168px;
    height: 88px;
}

.customers-link{
    width: 100%;
    height: 100%;

    border: 1px solid var(--lightslate);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightslate);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo{
    fill: currentColor
}

.customers-link:hover,
.customers-link:focus{
    color: var(--oceancolor);
    border-color: var(--oceancolor);
}

/* CSS for footer */

.footer-part{
    padding: 100px 0;
    background-color: var(--navyblue);
}

.studio-logo2{
    color: var(--whitecolor)
}

.footerparagraph{
    margin-top: 16px;
    color: var(--whitecolor);
}

.footer-social-logos{
    margin-left: 120px;
}

.social-text{
    color: var(--whitecolor);
    display: flex;
    font-weight: 500;
}

.footer-social-lists{
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.footer-social{
    width: 40px;
    height: 40px;
}

.footer-social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--iriscolor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-social-logo{
    fill: var(--cloud);
}

.footer-container{
    display: flex;
    align-items: flex-start;
}

.footer-social-link:hover,
.footer-social-link:focus{
background-color: var(--greencolor);
}



/* CSS for Portfolio Section */

/* Filters */

.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters{
    display: inline-flex;
    gap: 24px;
    margin-bottom: 72px;
}

.filter{
    display: flex;
    align-items: flex-start;
    padding: 12px 24px;

    color: var(--iriscolor);
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.64px;
    font-family: inherit;
    background-color: var(--cloud);
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--cornflower);
    font-weight: 500;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-active, .filter:hover, .filter:focus{
    color: var(--whitecolor);
    border-radius: 4px;
    background-color: var(--oceancolor);
    border-color: var(--oceancolor);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);;
}

.filter .filter-active{
    color: var(--iriscolor);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.filter.filter-active:hover,
.filter.filter-active:focus{
    color: var(--cloud);
    background-color: var(--oceancolor);
}
/* End of filters */

/* Projects */

.project-wrap{
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.project-title{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

    color: var(--navyblue);
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 500;
}

.project-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   

    color: var(--slatecolor);
}

.project-select{
    display: block;
    text-decoration: none;
}

.project-select:hover,
.project-select:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-text-wrap{
    position: relative;
    overflow: hidden;
}

.project-text{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    background-color: var(--iriscolor);
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.project-select:hover .project-text,
.project-select:focus .project-text{
  transform: translateY(0);
}




/* Modal */

.modal-bg {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal{
    position: absolute;

    top: 50%;
    left: 50%;
    min-width: 408px;
    min-height: 584px;

    background-color: var(--dairycolor);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
  
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 72px 24px 24px;
  }
  
  .modal-bg.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
  }
  
  .modal-exit{
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  
    background-color: var(--cornflower);
    color: var(--navyblue);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-icon {
    fill: currentColor;
  }
  
  .modal-exit:hover,
  .modal-exit:focus{
    background-color: var(--oceancolor);
    color: var(--whitecolor);
  }
  
  .is-hidden {
    visibility: none;
    opacity: 0;
    pointer-events: none;
  }
  
/* Form CSS */

.contacts-text{
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;

    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--navyblue);
}

.service-form{
    display: block;
    position: relative;
}

.form-name{
    position: relative;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;

    color: var(--lightslate, #8E8F99);
}

.service-input, 
.text-input{
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 40px;
    padding-right: 16px;
    
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
}

.form-icon{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 16px;
    width: 18px;
    height: 24px;
    fill: var(--navyblue);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input{
    resize: none;

    padding-top: 8px;
    padding-left: 16px; 
    height: 120px;

    font-size: 12px;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
}

.service-form::placeholder{
    color: rgba(46, 47, 66, 0.40);
}

.service-input:hover,
.service-input:focus,
.text-input:hover,
.text-input:focus{
    outline: none;
    border-color: var(--iriscolor);
}


.terms-text{
    color: var(--lightslate);
    font-size: 12px;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
}

.checkbox-terms{
    margin-top: 16px;
}
.privacy-text{
    text-decoration-line: underline;
    color: var(--iriscolor)
}

.button-center{
    display: block;
    margin: 0 auto;
    margin-top: 24px;
}

